<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Quoting Dojo</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/main.css">
	</head>
	<body>
		<div id="container">
			<h2>Here are the awsome quotes!</h2>
			<div class="quotes">
			<%
				for(var i = users.length -1; i >= 0; i--){
				%>
					<h4><%= users[i].quote; %></h4>
					<p class='created_by'><%= "-"+users[i].name+" at "+users[i].date.toString(); %></p>
				<%
				}
			%>
			</div>
			<a href="/"><button>Add a quote!</button></a>
		</div> <!-- End Container -->
	</body> 
</html>