<!DOCTYPE html>
<html lang="en">
	<head>
		<title>QuotingDojo</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="index.css">
	</head>
	<body>
		<div id="container">
			<h1>Welcome to QuotingDojo</h1>
			<form action='/quotes' method='post'>
				<label for='name'>Your name:</label>
				<input type='text' name='name' id='name'><br>
				<label for='quote'>Your quote:</label>
				<textarea name='quote' id='quote'></textarea><br>
				<button type='submit'>Add my quote!</button>
				<a href="/main"><button type='button'>Skip to quotes!</button></a>
			</form>
		</div> <!-- End Container -->
	</body> 
</html>